body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}
/* Estilos adicionales para centrar el formulario */
.container {
    max-width: 40%; /* Ajusta este valor según prefieras */
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type=text],
input[type=date],
input[type=time],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

input[type=text]:focus,
input[type=date]:focus,
input[type=time]:focus,
textarea:focus {
    border-color: #2d3d2e;
}

h1 {
    text-align: center;
}