body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 50%;
    /* Ajusta este valor según prefieras */
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f2f2f2;
}

.modal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    /* Posición fija */
    z-index: 1;
    /* Asegurar que el modal esté por encima del resto del contenido */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Habilitar el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo oscuro semitransparente */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* Centrar verticalmente y colocar 10% desde la parte superior */
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    /* Ancho del contenido */
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* Sombra */
}

/* Estilo para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para los títulos */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="number"],
input[type="text"],
input[type="date"],
input[type="time"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
